.bg-custom {
	background-color: rgb(53, 143, 253);}

.navbar .nav-item:hover .nav-link {
	background-color: white;
	color: rgb(99, 99, 250);
	border-radius: 15px;
}
 .navbar .nav-link {
 	color: white;
 	font-weight: bold;
 }

.navbar-custom {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

